body{
background: rgb(9,121,112);
background: linear-gradient(90deg, rgba(9,121,112,1) 0%, rgba(0,212,255,1) 100%);
}

header{
    border:2px groove#C829FF;
    margin:5px 50px 5px 50px;

}
ol{
    text-align: center;
font-size:25px;
font-family: 'Pacifico', cursive;
}
ol li{margin:50px}
li{
    display: inline;
}
h1{
color:#A80032;
font-size:45px;
font-weight: bold;
text-align: center;
font-family: 'Josefin Sans', sans-serif;
border:3px ridge  #FF5F29;
margin:5px 20px 5px 20px;
padding-top:10px ;
}
p{
font-family: 'Lobster', cursive;
margin:25px 50px 10px 50px;
}
ul li{
display:block;
margin:5px 20px 5px 20px;
}